@model IEnumerable<Company_List.Models.Transaction>

@{
    ViewData["Title"] = "Index";
}

<h2>@ViewBag.CompanyName</h2>
<h2>@ViewBag.TickerSymbol</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Quantity)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SharePrice)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Company.CompanyName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TransactionType)
            </th>
            <th>
              
            </th>
            
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <td>
            
                    @Html.DisplayFor(modelItem => item.Quantity)
                
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SharePrice)
            </td>
            <td>
                <a asp-controller="Company" asp-action="Edit" asp-route-id="@(item.CompanyID)">
                    @Html.DisplayFor(modelItem => item.Company.CompanyName)
                </a>
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TransactionType.TransactionName)
            </td>
            
            <td>
                <a asp-action="Edit" asp-route-id="@item.TransactionId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.TransactionId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.TransactionId">Delete</a>
            </td>
        </tr>
        }
    </tbody>
</table>
